* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: #e6e6e6;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar-list {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.navbar-item a {
  text-decoration: none;
  font-size: 2rem;
  color: #000;
  transition: 0.4s ease-in-out;
}

.navbar-item a:hover {
  color: #d400b1;
}

.main-title {
  text-align: center;
  font-size: 4rem;
  margin-top: 4rem;
}
